
<button type="button" class="btnVoltar" id="btnVoltar"><a asp-action="Index" asp-controller="Home">Voltar</a></button>
<h1 class="jumbotron ">SUBCATEGORIAS</h1>
<form asp-action="SubCategoria" asp-controller="SubCategoria" >
    <input type="text" name="nome" id="nome" class="form form-control" placeholder="Sub Categoria"/><br>
    <button type="submit" class="btnSalvar">Salvar</button>
</form>