<button type="button" class="btnVoltar" id="btnVoltar"><a asp-action="Index" asp-controller="Home">Voltar</a></button><br><br>
<h1 class="jumbotron">Cadastro de categorias <i class="fas fa-plus-circle"></i></h1>

<form asp-action="Categoria">   
   <input class="txtCategoria" type="text" name="nome" id="nome"  placeholder="Nome da Categoria"/><br>
    <button class="btnSalvar" type="submit" >Salvar</button>
</form>
