<button type="button" class="btnVoltar" id="btnVoltar"><a asp-action="Index" asp-controller="Home">Voltar</a></button>
<div>
  <form asp-action="Produto">
   
    <input type="text" id="pnome" name="Nome" placeholder="Nome"> 
      <input type="text" id="pdescricao" name="Descricao" placeholder="Descrição">  
    <input type= "text" id="pcategoria"   name= "Categoria" placeholder="Categoria">
    <input type="text" id="pprecodevenda" name="Preco" placeholder="Preco" onkeyup="maskIt(this,event,'###.###.###,##',true,{pre:'R$'})" placeholder="Preco">
    <input  type="submit" value="Salvar">
    </form>
</div>